.myButton {
  color: white;
  cursor: pointer;
  margin: 1px;
  padding: 5px 12px;
  border-radius: 8px;
  border: none;
}

.btnPrimary {
  background-color: rgb(163, 65, 205);
}

.btnDanger {
  background-color: rgb(190, 105, 218);
}

.btnPrimary:hover {
  background-color: rgb(57, 16, 87);
}

.btnDanger:hover {
  background-color: rgb(40, 8, 64);
}