

.contactPage {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  max-width: 800px;
  background-color: rgb(228, 204, 234);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.contactPage h1,
.contactPage  h2,
.contactPage  h3 {
  color: #007bff;
  margin-bottom: 15px;
}


.contactInfo,
.location,
.hours,
.contact-form {
  margin-bottom: 20px;
  padding: 10px 0;
}

.contactPage  a {
  color: #007bff;
  text-decoration: none;
}

.contactPage  a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

